.listContactResponsive{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    position: relative;
    float: left;
}

.listContact{
    width: 96%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:3% 0% 0% 0%;
}