<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h3>Camila de Lima Martins</h3>
            </mat-panel-title>
            <mat-panel-description>
                <button mat-icon-button color="warn" style="top: 15%">
                    <mat-icon>favorite</mat-icon>
                </button>
                <button mat-icon-button style="margin: 2%">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button style="margin-top: 2%">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <img src="http://s2.glbimg.com/h0VuGtJv9TT-TeGlmsaxfTvEUP8=/e.glbimg.com/og/ed/f/original/2016/07/12/lhama.jpg"
            width="250px">
        <p>Email: camilalm31@gmail.com</p>
        <p>Telefone:(43)99931-4034</p>
        <p>Endereco: Rua Joaquim Luiz Francisco n52 , Jardim Primavera, Paraná</p>
        <p>Genero: F</p>
        <p>Empresa: Forlogic</p>
        <p>Comentarios:</p>

    </mat-expansion-panel>
</mat-accordion>