<h1 mat-dialog-title>Novo contato</h1>
<mat-dialog-content>
    
    <mat-form-field>
        <input matInput placeholder="Nome" />
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Sobrenome" />
    </mat-form-field>
    <div>
        <label for="avatar">Avatar:</label>
        <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    </div>
    <mat-form-field>
        <input matInput placeholder="Email" />
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Telefone" />
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Endereço" />
    </mat-form-field>
    <mat-radio-group>
        <mat-radio-button value="m">Masculino</mat-radio-button>
        <mat-radio-button value="f">Feminino</mat-radio-button>
    </mat-radio-group>
    <mat-form-field>
        <input matInput placeholder="Empresa" />
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Comentários" />
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button type="button" mat-flat-button color="primary">Enviar</button>
</mat-dialog-actions>