<mat-card class="card-contact">
  <mat-card-header>
    <div mat-card-avatar id="avatar">
      <img src="http://s2.glbimg.com/h0VuGtJv9TT-TeGlmsaxfTvEUP8=/e.glbimg.com/og/ed/f/original/2016/07/12/lhama.jpg"
        width="70px" height="70px" style="width: 75px; height: 75px; border-radius: 70%;">
    </div>
    <mat-card-title style="margin-left: 15%">
      Camila de Lima Martins
    </mat-card-title>
  </mat-card-header>
  <mat-divider style="margin-top:5%"></mat-divider>
  <mat-card-content style="margin-top:10%" >
    <p>Email: camilalm31@gmail.com</p>
    <p>Telefone:(43)99931-4034</p>
    <p>Endereco: Rua Joaquim Luiz Francisco n52 , Jardim Primavera, Paraná</p>
    <p>Genero: F</p>
    <p>Empresa: Forlogic</p>
    <p>Comentarios:</p>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions style=" display:flex; justify-content: flex-end">
      <button mat-icon-button color="warn" style="margin: 2%" >
        <mat-icon >favorite</mat-icon>
      </button>
      <button mat-icon-button style="margin: 2%" (click)=" editContact()" >
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button style="margin-top: 2%">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
</mat-card>