<mat-card class="card-contact" *ngIf="contact != null" >
  <mat-card-header>
    <div mat-card-avatar class="avatar">
      <img [src]="contact?.info.avatar"
        width="70px" height="70px" style="border-radius: 70%">
    </div>
    <mat-card-title style="display:flex; margin-left: 50px;margin-top:17px;">
      {{ contact?.firstName }} {{ contact?.lastName }}
    </mat-card-title>
  </mat-card-header>
  <mat-divider style="margin-top:5%"></mat-divider>
  <mat-card-content style="margin-top:10%" >
    <p>Email: {{ contact?.email }}</p>
    <p>Telefone:{{ contact?.info.phone }}</p>
    <p>Endereco: {{ contact?.info.address}}</p>
    <p>Genero: {{ contact?.gender }}</p>
    <p>Empresa: {{ contact?.info.company }}</p>
    <p>Comentarios:{{ contact?.info.comments }}</p>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions style=" display:flex; justify-content: flex-end">
      <button mat-icon-button color="warn" style="margin: 2%"  (click)="favoriteClick()">
        <mat-icon *ngIf="contact?.isFavorite" >favorite</mat-icon>
        <mat-icon *ngIf="!contact?.isFavorite">favorite_border</mat-icon>
      </button>
      <button mat-icon-button style="margin: 2%" (click)=" editContact()" >
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button style="margin-top: 2%" (click)="deleteContact()" >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
</mat-card>