<mat-card class="card-forms">
    <mat-card-title>
        <h1>Novo contato</h1>
    </mat-card-title>
    <mat-card-content>
        <div>
            <mat-form-field style="width: 100%">
                <input matInput placeholder="Nome" />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field style="width: 100%">
                <input matInput placeholder="Sobrenome" />
            </mat-form-field>
        </div>
        <div>
            <label for="avatar">Avatar:</label>
            <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">
            <mat-progress-bar mode="determinate" value="40" style="padding-top: 5%; width:200px"></mat-progress-bar>
        </div>
        <div>
            <mat-form-field style="padding-top:3%; width: 100%">
                <input matInput placeholder="Email" />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field style="width: 100%">
                <input matInput placeholder="Telefone" />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field style="width: 100%">
                <input matInput placeholder="Endereço" />
            </mat-form-field>
        </div>
        <div>
            <label>Genero:</label>
            <mat-radio-group>
                <mat-radio-button value="m" style="padding-right: 5%">Masculino</mat-radio-button>
                <mat-radio-button value="f">Feminino</mat-radio-button>
            </mat-radio-group>
        </div>

        <div >
            <mat-form-field style="padding-top:3%; width: 100%">
                <input matInput placeholder="Empresa" />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field style="width: 100%">
                <textarea matInput placeholder="Comentários"></textarea>
            </mat-form-field>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button type="button" mat-flat-button color="primary">Enviar</button>
    </mat-card-actions>
</mat-card>