<mat-card class="card-forms">
    <mat-card-title>
        <h1>{{title}} contato</h1>
    </mat-card-title>
    <form [formGroup]="formulario">
        <mat-card-content>
            <div>
                <mat-form-field style="width: 100%">
                    <input matInput placeholder="Nome"  formControlName="nome" [errorStateMatcher]="matcher"/>
                </mat-form-field>
                <mat-error *ngIf="!formulario.get('nome').valid">
                    Nome é obrigatório. 
                </mat-error>
            </div>
            <div>
                <mat-form-field style="width: 100%">
                    <input matInput placeholder="Sobrenome" formControlName="sobrenome" [errorStateMatcher]="matcher"/>
                </mat-form-field>
                <mat-error *ngIf="!formulario.get('sobrenome').valid">
                    Sobrenome é obrigatório. 
                </mat-error>
            </div>
            <div style="margin-top:5%">
                <label for="avatar">Avatar:</label>
                <input type="file" id="avatar" formControlName="avatar" accept="image/png, image/jpeg">
                <mat-progress-bar mode="determinate" value="40" style="padding-top: 5%; width:200px"></mat-progress-bar>
            </div>
            <div>
                <mat-form-field style="padding-top:3%; width: 100%">
                    <input matInput placeholder="Email"  formControlName="email" [errorStateMatcher]="matcher"/>
                </mat-form-field>
                <mat-error *ngIf="!formulario.get('email').valid">
                    Email é obrigatório. 
                </mat-error>
                <mat-error *ngIf=" formulario.get('email').errors && formulario.get('email')?.errors['email']">
                    Por favor entre com um email válido. 
                </mat-error>
            </div>
            <div>
                <mat-form-field style="width: 100%">
                    <input matInput placeholder="Telefone" formControlName="telefone" [errorStateMatcher]="matcher"/>
                </mat-form-field>
                <mat-error *ngIf="!formulario.get('telefone').valid">
                    Telefone é obrigatório. 
                </mat-error>
            </div>
            <div>
                <mat-form-field style="width: 100%">
                    <input matInput placeholder="Endereço" formControlName="endereco" [errorStateMatcher]="matcher"/>
                </mat-form-field>
                <mat-error *ngIf="!formulario.get('endereco').valid">
                    Endereço é obrigatório. 
                </mat-error>
            </div>
            <div style="margin-top:5%">
                <label>Genero:</label>
                <mat-radio-group formControlName="genero">
                    <mat-radio-button  value="m" style="padding: 0% 5% 0% 5%" >Masculino</mat-radio-button>
                    <mat-radio-button  value="f"  >Feminino</mat-radio-button>
                </mat-radio-group>
            </div>

            <div>
                <mat-form-field style="padding-top:3%; width: 100%">
                    <input matInput placeholder="Empresa" formControlName="empresa" [errorStateMatcher]="matcher"/>
                </mat-form-field>
                <mat-error *ngIf="!formulario.get('empresa').valid">
                    Empresa é obrigatório. 
                </mat-error>
            </div>
            <div>
                <mat-form-field style="width: 100%">
                    <textarea matInput placeholder="Comentários" formControlName="comentarios"></textarea>
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button type="button" mat-flat-button color="primary" (click)="onSubmit()" >Enviar</button>
            <button type="button" mat-flat-button (click)="resetForm()"  >Cancelar</button>
        </mat-card-actions>
        
    </form>
</mat-card>